:root {
    --bg-color: rgb(144, 144, 255);
    --text-color: rgb(0, 0, 0);
    --front-main: "Inter", sans-serif;
    --space: 1rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--front-main);
    padding: var(--space);
}

img {
    max-width: 100%;
    height: auto;
}

#Main ul {
  display: flex;
  flex-direction: column; 
  gap: var(--space);
  list-style: none;
  padding: 0;
}

@media (min-width: 600px) {
  #Main ul { flex-direction: row; }  
  body { padding: calc(var(--space) * 2); }
}

@media (min-width: 950px) {
  body { max-width: 1440px; margin: 0 auto; }
}
